/* ======
 * Layout - defines the shape of the site.
 * ======

/* This makes the footer stick to the bottom.
 * http://compass-style.org/reference/compass/layout/sticky_footer/
+sticky-footer($footer-height)

/* Center the footer.
#footer
  text-align: center
  width: +span($blueprint-grid-columns)
  margin:
    left: auto
    right: auto

/* Enable the Blueprint grid
 * http://compass-style.org/reference/blueprint/grid/#mixin-container
#container
  +container
  #header, #nav, #main
    +prepend($column-pad)
    +append($column-pad)
  #main, #sidebar
    +append-bottom

/* Allows us to add a margin to the top of #container
#root
  overflow: auto

/* Prevent the content from smashing into the footer.
#root-footer
  height: $footer-height + 24px

/* Two column layout.
@if $sidebar-orientation == left
  /* Use the pull method to make the sidebar appear on the right.
   * Edit the $sidebar-columns value to adjust the width.
   * http://compass-style.org/reference/blueprint/grid/#mixin-pull
  .two-column
    #container
      #main
        +column($blueprint-grid-columns - $sidebar-columns - ($column-pad * 3), true)
        +prepend($sidebar-columns + ($column-pad * 2))
      #sidebar
        +column($sidebar-columns)
        +prepend($column-pad)
        +append($column-pad)
        +pull($blueprint-grid-columns, true)
@else if $sidebar-orientation == right
  .two-column
    #container
      #main
        +column($blueprint-grid-columns - $sidebar-columns - ($column-pad * 3))
      #sidebar
        +column($sidebar-columns, true)
        +append($column-pad)
