---
layout: default
title: Archives
---
<h1>Archives</h1>

<div id="archives">
{% for year in site.years %}
    <section>
    <h2 class="year">{{ year.first.first.date | date: "%Y" }}</h2>
    {% for month in year %}
        <h3 class="month">{{ month.first.date | date: "%B" }}</h3>
        <ul class="posts">
        {% for post in month %}
            <li>
                <time>{{post.date | date: "%02d"}}</time>
                <a class="post" href="{{ post.url}}">{{ post.title }}</a>
            </li>
        {% endfor%}
        </ul>
    {% endfor %}
    </section>
{% endfor %}
</div>
