---
layout: page
title: Categories
---

<div id="categories">
{% for category in site.sorted_categories %}
{% assign name  = category[0] %}
{% assign posts = category[1] %}
    <section>
        <h2 id="{{name | replace: ' ','-'}}" class='name'>
            <a href="/categories/{{ name }}">{{ name }}</a>
        </h2>
        <ul class="posts">
            {% for post in posts %}
            <li>
                <a class="post" href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endfor %}
</div>
