{% if paginator.total_pages > 1 %}
<nav id="pagination">
  <ol>
    {% capture baseurl %}/{{ page.url | remove_first:'/' | remove:'index.html' }}{% endcapture  %}
    {% if paginator.page > 1 %}
      {% capture pagenum %}page{{ paginator.page }}/{% endcapture %}
      {% capture baseurl %}{{ baseurl | remove:pagenum }}{% endcapture %}
    {% endif %}

    {% if paginator.previous_page > 1 %}
      {% capture page_url %}page{{ paginator.previous_page }}{% endcapture%}
    {% endif %}
    {% if paginator.previous_page %}
    <li>
      <a href="{{ baseurl }}{{ page_url }}" title="Previous">
        &laquo;
      </a>
    </li>
    {% endif %}
    {% for page in (1..paginator.total_pages) %}
    <li>
      {% if page > 1 %}
        {% capture page_url %}page{{ page }}{% endcapture%}
      {% endif %}
      {% if page == paginator.page %}
        {{ page }}
      {% else %}
        <a href="{{ baseurl }}{{ page_url }}">{{ page }}</a>
      {% endif %}
    </li>
    {% endfor %}
    {% if paginator.next_page %}
    <li>
      <a href="{{ baseurl }}page{{ paginator.next_page }}" title="Next">
        &raquo;
      </a>
    </li>
    {% endif %}
  </ol>
</nav>
{% endif %}
